<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PDC_Lauren.Properties.Settings.Steve_test_WestonConnectionString"
            connectionString="Data Source=ZSS-01;Initial Catalog=Steve_test_Weston;User ID=reimelt"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>